//Colors
$dark: #26292c;
$grey: #979797;
$light-grey: #ececec;
$green: #85e294;

//Shapes
@mixin button {
  background-color: white;
  border: 1px solid #b0b0b0;
  padding: 0.25rem 1.5rem;
  color: $dark;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2px;
  transition: 0.2s ease;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
  }
}

//Sizes
$breaking-point-lg: 1400px;
$breaking-point-md: 990px;
$breaking-point-sm: 414px;
$breaking-point-xs: 330px;
