//Colors
$dark: #26292c;
$grey: #979797;
$light-grey: #ececec;
$green: #08a742;
$light-green: #85e294;

//Shapes
@mixin button($bg-color, $color) {
  background-color: $bg-color;
  box-shadow: 0 1px 2px rgba(38, 41, 44, 0.08);
  border: none;
  padding: 0.25rem 1.5rem;
  color: $color;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2px;
  transition: 0.2s ease;
  &:hover {
    opacity: 0.7;
  }
}

//Sizes
$breaking-point-lg: 1400px;
$breaking-point-md: 990px;
$breaking-point-sm: 414px;
$breaking-point-xs: 330px;
