@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import "./mixins";

body {
  font-family: "Open Sans", sans-serif !important;
  padding-top: 4.5rem;
  & h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
  }
  & h4,
  p {
    font-weight: 400;
  }
}

//Toasts
.Toastify__toast-body {
  text-align: center;
  padding: 5px;
  margin: auto;
  color: white;
  & path {
    color: white;
  }
  & p {
    margin: 0;
  }
}
.Toastify__toast--success {
  background: #42a285 !important;
}
.Toastify__toast--error {
  background: #e17575 !important;
}
.Toastify__toast--warning {
  background: $blue !important;
}

.Toastify__toast-icon {
  & svg {
    fill: white;
  }
}
.progressBar {
  background-color: white !important;
}

//Modals
.modal-backdrop,
.modal {
  z-index: 3 !important;
}
