@import "styles/mixins";

.list {
  padding: 0.8rem 1.7rem;
  & h1 {
    margin: 2rem 0;
    font-size: 1.5rem;
  }
  & hr {
    color: $grey;
  }
  & div[id="list_section"] {
    margin: 0 1rem;
    & div[class="list_add_person"] {
      text-align: right;
      margin: 1.5rem 0 2rem 0;
      & button {
        padding: 0.5rem 1.2rem;
      }
    }
  }
}

.listRow {
  background-color: white;
  border: 2px solid $light-grey;
  border-radius: 3px;
  padding: 1rem 1.7rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & div[class="list_row_person_address_div"] {
    display: flex;
    align-items: baseline;
    & svg {
      color: $grey;
    }
    & p {
      margin-bottom: 0;
      margin-left: 0.3rem;
      transform: translateY(-0.25rem);
      font-size: 1rem;
      color: $grey;
    }
  }
  & h4 {
    font-size: 1.2rem;
  }

  & img {
    height: 4rem;
    width: 4rem;
  }
}

//Responsive
@media only screen and (max-width: $breaking-point-sm) {
  .listRow {
    flex-direction: column;
    text-align: center;
    & img {
      order: 1;
      margin: 1rem;
    }
    & div {
      order: 2;
    }
  }
}
@media only screen and (max-width: $breaking-point-xs) {
  .listRow {
    padding: 1rem 1rem;
    & div[class="list_row_person_address_div"] {
      transform: scale(0.9);
    }
    & h4 {
      font-size: 1.2rem;
    }
  }
}
