@import "styles/mixins";

.collapse {
  margin: 1.5rem 0;
}
.button {
  display: block;
  margin: auto;
  margin-bottom: 1.5rem;
  border: none;
  background: none;
  color: $grey;
  font-weight: bold;
  &:hover {
    color: grey;
  }
}
