.loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.814);
  z-index: 4;
  & span[class="css-1xdhyk6"] {
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -50px; /* Negative half of height. */
    margin-left: -50px;
  }
}
