@import "styles/mixins";

//Global Settings

div[class="modal-header"],
div[class="modal-footer"] {
  background-color: #f4f4f4;
}

div[class="modal-header"] {
  border-bottom: 1px solid #c4c6c887;
  & h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: $dark;
  }
}

//Back button
button[class="btn-close"] {
  transform: scale(0.8);
}

//Name, phone
div[class="person_modal_title_details"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  padding: 1.5rem 0;
  & div[id="app_avatar"] {
    margin-bottom: 1.5rem;
  }
}

.person_modal {
  //Name
  & h4 {
    font-size: 1.2rem;
    font-weight: 600;

    //Phone
    &:last-child {
      color: $light-green;
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
    }
  }

  //Details section
  & div[class="person_modal_details"] {
    padding: 1.7rem 0;

    & div[class="person_modal_details_field_label"] {
      display: flex;
      justify-content: flex-end;
    }
    & h5,
    p {
      font-size: 0.9rem;
    }
    & h5 {
      font-weight: 600;
      color: $grey;
    }
    & p {
      font-weight: 400;
      color: #c1c1c1;
    }
  }
}

.confirmation {
  & div[class="modal-footer"] {
    justify-content: space-between;
  }
}

//Responsive
@media only screen and (max-width: 575px) {
  div[class="person_modal_details_field_label"] {
    justify-content: flex-start !important;
  }
}
